#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fun-fact-container {
  margin-top: 20px;
}

body {
    margin: 0;
    margin-left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    background-color: #292929;
}

img.center { /* Centered images are fit to the restraints of the other elements*/
    width: 650px;
    height: 366px;

}

.topbar {
    background-color: whitesmoke;
    height: 40px;
    width: 100%;
    color: #292929;
}

.topbar ul {
    display: inline-flex;
    list-style: none;
}

.topbar li {
    line-height: 8px;
    font-size: 20px;

}

.logo img {
    width: 25px;
    top: 8px;
    right: 25px;
    position: fixed;
}